<div class="jumbotron text-center">
  <h1>Registration works</h1>
</div>

<form>
<div class="form-group">
  <label for="username">Username</label>
  <div>
    <input type="text" name="username" class="form-control" autocomplete="off" placeholder="*Username" />
  </div>
</div>

<div class="form-group">
  <label for="email">Email</label>
  <div>
    <input type="text" name="email" class="form-control" autocomplete="off" placeholder="*Email" />
  </div>
</div>

<div class="form-group">
  <label for="password">Password</label>
  <div>
    <input type="text" name="password" class="form-control" autocomplete="off" placeholder="*Password" />
  </div>
</div>

<div class="form-group">
  <label for="confirm">Confirm Password</label>
  <div>
    <input type="text" name="password" class="form-control" autocomplete="off" placeholder="*Confirm Password" />
  </div>
</div>

<input type="submit" class="btn-primary" value="Submit" />
</form>